.back{
    background-color: rgb(53, 75, 75);
    margin: 0;
}
.GeezCalculator{
    text-align: center;
    background-color: rgb(1, 1, 1);
    width: 50%;
    margin-top: 30PX;
    margin-left: 24%;
  
 
}
.navBar{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.AC{
    width: 70px;
    padding: 15px;
    margin: 50px;
    background-color: red;
}
.outPut{
    background-color: rgb(208, 202, 202);
    margin: 15px;
    width: 450PX;
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    gap: 2px;
    padding: 3px;
}
.numPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    padding: 30px;
    /* background-color: rgb(24, 235, 161); */
}
.oprators{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    /* background-color: rgb(34, 34, 192); */
}
#button {
font-size: large;
font-family: 'Courier New', Courier, monospace;
}
#sum {
    
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
       width: 200px;
       margin-left: 60%;
       margin-bottom: 10px;
       background-color: blue;
       color: aliceblue;
}

.priviousOperand{
    text-align: end;
    font-size: 50px;
font-family: 'Courier New', Courier, monospace;
}
.cerrentOperand{
    text-align: end;
    font-size: 50px;
font-family: 'Courier New', Courier, monospace;
}